HotelServicesConsommer/HotelWebService/Connected Services/ServiceReservation/ReservationHotel.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="faireReservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idOffre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomPersonne" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prenom" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numeroCB" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nbPersonne" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="faireReservationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="faireReservationResult" type="tns:Reservation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Reservation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nomClient" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prenomClient" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dateArrivee" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="dateDepart" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="numCarteBancaire" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="nbPersonne" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dureeSejour" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="prixTotal" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="faireReservationSoapIn">
    <wsdl:part name="parameters" element="tns:faireReservation" />
  </wsdl:message>
  <wsdl:message name="faireReservationSoapOut">
    <wsdl:part name="parameters" element="tns:faireReservationResponse" />
  </wsdl:message>
  <wsdl:portType name="ReservationHotelSoap">
    <wsdl:operation name="faireReservation">
      <wsdl:input message="tns:faireReservationSoapIn" />
      <wsdl:output message="tns:faireReservationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReservationHotelSoap" type="tns:ReservationHotelSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="faireReservation">
      <soap:operation soapAction="http://tempuri.org/faireReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReservationHotelSoap12" type="tns:ReservationHotelSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="faireReservation">
      <soap12:operation soapAction="http://tempuri.org/faireReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReservationHotel">
    <wsdl:port name="ReservationHotelSoap" binding="tns:ReservationHotelSoap">
      <soap:address location="https://localhost:44379/ReservationHotel.asmx" />
    </wsdl:port>
    <wsdl:port name="ReservationHotelSoap12" binding="tns:ReservationHotelSoap12">
      <soap12:address location="https://localhost:44379/ReservationHotel.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>